node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit

# OS
.DS_Store
Thumbs.db

# Enode_modules
/.svelte-kit
/build
.DS_Store
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
